apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wazuh
  namespace: argocd
spec:
  project: default

  source:
    - repoURL: https://github.com/wazuh/wazuh-kubernetes.git
      targetRevision: v4.14.0
      path: envs/local-env
      ref: wazuh-base

    - repoURL: https://github.com/axiomatics/k3s-hub-platform.git  # Your Git repo
      targetRevision: main
      path: security/wazuh/overlays/local
    
  destination:
    server: https://kubernetes.default.svc
    namespace: wazuh

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
