wazuhIndexer:
  replicas: 1
  resources:
    requests:
      cpu: "2"
      memory: "4Gi"
    limits:
      cpu: "4"
      memory: "6Gi"
  persistence:
    enabled: true
    storageClass: longhorn
    size: 50Gi
wazuhManager:
  replicas: 1
  resources:
    requests:
      cpu: "1"
      memory: "2Gi"
    limits:
      cpu: "2"
      memory: "4Gi"
  persistence:
    enabled: true
    storageClass: longhorn
    size: 20Gi
wazuhDashboard:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1"
      memory: "2Gi"
  service:
    type: NodePort
    nodePort: 30092
