apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wazuh
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://morgoved.github.io/wazuh-helm/' #
    chart: wazuh
    targetRevision: 1.0.13 # Check for latest stable version
    helm:
        values: |
          agent:
            enabled: false
            resources:
              requests:
                cpu: 200m
                memory: 256Mi
              limits:
                cpu: 500m
                memory: 512Mi
            extraEnvVars:
              - name: WAZUH_REGISTRATION_SERVER
                value: "wazuh-manager-master"
              - name: WAZUH_GROUP
                value: "k3s-nodes"
          indexer:
            replicas: 1
            images:
              resources:
                requests:
                  cpu: 700m
                  memory: 1Gi
                limits:
                  memory: 1Gi
            storageSize: 10Gi 
          wazuh:
            master:
              persistence:
                storageClass: ""
              storageSize: 15Gi
            manager:
              persistence:
                storageClass: ""
              storageSize: 5Gi
            worker:
              replicas: 1
              persistence:
                storageClass: ""
              storageSize: 5Gi
            images:
              resources:
                requests:
                  cpu: 700m
                  memory: 7500Mi
                limits:
                  memory: 1Gi
              worker_resources:
                requests:
                  cpu: 1000m
                  memory: 1Gi
                limits:
                  memory: 1Gi
          dashboard:
            service:
              type: NodePort
              port: 5601
              nodePort: 30443

          ingress:
            enabled: false
      # Custom values for Wazuh deployment
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: wazuh
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true