indexer:
  images:
    resources:
      requests:
        cpu: 700m
        memory: 2Gi
      limits:
        memory: 3Gi
  storageSize: 10Gi
  extraEnvs:
      - name: OPENSEARCH_JAVA_OPTS
        value: "-Xms1g -Xmx1g"
  
wazuh:
  master:
    persistence:
      storageClass: "longhorn"
      storageSize: 5Gi
      extraConf: |
        <rules>
          <include>100-kubernetes-custom.xml</include>
        </rules>
        additionalVolumes:
          - name: wazuh-custom-rules
            configMap:
              name: wazuh-custom-rules

        additionalVolumeMounts:
          - name: wazuh-custom-rules
            mountPath: /var/ossec/etc/rules/100-kubernetes-custom.xml
            subPath: 100-kubernetes-custom.xml
  manager:
    persistence:
      storageClass: "longhorn"
      storageSize: 5Gi
  worker:
    persistence:
      storageClass: "longhorn"
      storageSize: 5Gi
  images:
    resources:
      requests:
        cpu: 700m
        memory: 2000Mi
      limits:
        memory: 3Gi
    worker_resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        memory: 3Gi

dashboard:
  service:
    type: NodePort
    port: 443
    nodePort: 30443

ingress:
  enabled: false