controller:
  replicaCount: 1

  ingressClassResource:
    name: nginx
    enabled: true
    default: true

  service:
    type: NodePort
    nodePorts:
      http: 30080
      https: 30443

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
